@model IEnumerable<GHWebApp.Models.EmployeeViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tdepts.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.texps.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tjobs.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tlangs.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tskills.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ttrainings.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ttype.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recommended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValoroBusqueda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tdepts.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.texps.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tjobs.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tlangs.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tskills.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ttrainings.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ttype.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recommended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValoroBusqueda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDEmployees }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDEmployees }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDEmployees })
        </td>
    </tr>
}

</table>
